
@{
    ViewBag.Title = "Create";
}

<h2>Create Department</h2>

<form  method="post">
    <input type="text" name="Name" value="" />
    <input type="number" name="Budget" value="" />
    <input type="submit" name="Submit" value="Create" />

</form>

