@model Contoso.Model.Department
@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>
<h3>Courses:</h3>
<ul>

    @foreach (var course in Model.Courses) {
        <li>@course.Name</li>
    }
</ul>
<h3>Budget : @Model.Budget</h3>



