@model IList<Contoso.Model.Department>
@{
    ViewBag.Title = "Index";
}



<table class="table">

    <tr>
        <td>  Id  </td>
        <td>   Name </td>
        <td>  Budget  </td>
    </tr>
     
    @foreach (var dep in Model) {
    <tr>
        <td> @dep.Id</td>
        <td>
            @Html.ActionLink( dep.Name, "Details", "Department", new {Id = dep.Id}, null)
        </td>
        <td> @dep.Budget</td>
    </tr>
    }
    
</table>

